import os
import requests


base_url = os.environ.get("API_ENDPOINT")
api_key = os.environ.get("API_KEY")

url = base_url + "/workflows/" + "{{offering.details.model_name}}" + "/text_to_image"
headers = {
    "Content-Type": "application/json",
    "Accept": "image/jpeg",
    "Authorization": "Bearer api_key",
}
data = {
    "prompt": "A beautiful sunset over the ocean"
}

response = requests.post(url, headers=headers, json=data)

if response.status_code == 200:
    with open("a.jpg", "wb") as f:
        f.write(response.content)
    print("Image saved as a.jpg")
else:
    print("Error:", response.status_code, response.text)

