from openai import OpenAI
import os

# Use environment variables or fallback
#os.environ.get("BASE_URL") or
#os.environ.get("API_KEY")
base_url = os.environ.get("BASE_URL")
api_key = os.environ.get("API_KEY")

client = OpenAI(api_key=api_key, base_url=base_url)

response = client.chat.completions.create(
    model= "{{offering.details.model_name}}",


    messages=[
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": "Say this is a test"}
    ]
)

print(response.choices[0].message.content)
